* {box-sizing:border-box;}
body {
    background-color: #ffb2ff;
    font-family: Helvetica, Arial, sans-serif;
}

.page_title {
    color:#b266ff;
    font-weight: bold;
    font-size: 44px;
    text-align: center;
}

.page_sub_title {
    color:#b266ff;
    opacity: 0.3;
    font-size: 22px;
    text-align: center;
}

.left-container,
.right-container {
    padding: 10px;
    margin-right:10px;
    color:#ff66ff;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.left-container {
    float:left;
}

.right-container {
    float:right;
}

#left-cat-img,
#right-cat-img{
    width: 400px;
    height: 400px;
    overflow: hidden;
}